.site-header {}

.header {
    padding: 19px 0px 18px 0px;
    @include display()
}

.header__logo__wrapper {}

.header__logo__link {}

.header__logo__img {}

.header__navbar {
    @include display()
}

.navbar {}

.navbar__wrapper {}

.navbar__list {
    @include display($justify: none)
}

.navbar__item:last-child {
    margin-right: 24px;
}
.navbar__item{
    margin-right: 30px;
}
.navbar__item:hover{
    
}

.navbar__link {
    @include textStyle($color: #22343D, $font-s:16px, $font-w: 400, $line-h: 28px);
}
.navbar__link:hover{
    color: #22343D;
    font-weight: 600;
}

.header__btn {}

.header__sign-in {
    @include btn($bg-color:white,$color:#02897A);
    transition: all 0.4s ease;
    margin-right: 24px;
}

.header__sign-in:hover{
    background-color: #02897A;
    color: white;
}

.header__sign-up {
    @include btn();
    margin-right: 24px;
}

.header__dark {}

.header__dark__link {
}

.header__dark__img {}

.hamburger__btn{
    background-color: transparent;
    border: none;
    display: none;
}

@media(max-width:980px){
    .site-header{
        padding: 17px 16px;
        // border-bottom: 1px solid grey;
        box-shadow: 2px 1px 3px 0px grey;
    }

    .navbar__list{
        display: none;
    }
   
    .header__btn{
        display: none;
    }
    
    .header__dark__img{
        display: none;
    }

    .header__logo__img {
        width: 170px;
        height: 36px;
    }

    .hamburger__btn{
        display: block;
    }
}