.price-section {
    padding: 0px 0px 150px 0px;
}

.price {}

.price__title__wrap {}

.price__title {
    @include textStyle($font-s: 34px, $font-w: 700, $color: #22343D, $line-h: normal, $text-a: center);
}

.price__text {
    @include textStyle($font-s: 16px, $font-w: normal, $line-h: normal, $color: #22343D, $text-a: center);
    margin-bottom: 50px;
}

.price__about__wrapper {
    @include display()
}

.price__about {
    // width: 322px;
    padding: 24px 92px 32px 92px;
    box-shadow: 0px 0px 4px 2px rgb(215, 215, 215);
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

.price__about:nth-child(2) {
    background-color: #02897A;

    .price__about__title {
        @include textStyle($font-s: 24px, $font-w: 700, $line-h: 40px, $color: #FFF, $text-a: center);
        margin-bottom: 8px;
    }

    .price__about__text {
        @include textStyle($font-s: 16px, $font-w: 400, $line-h: 24px, $color: #FFF);

    }

    .price__money {
        display: flex;
        align-items: center;
    }

    .price__money__num {
        @include textStyle($font-s: 76px, $font-w: 700, $line-h: 100px, $color: #FFF);
        margin-bottom: 16px;
    }

    .price__money__text {
        @include textStyle($font-s: 24px, $font-w: 700, $line-h: 30px, $color: #FFF)
    }

    .price__list {
        text-align: center;
    }

    .price__item {
        margin-bottom: 16px;
    }

    .price__link {
        @include textStyle($font-s: 16px, $font-w: 500, $line-h: 22px, $color: #FFF)
    }

    .price__btn {
        @include btn($padding: 11px 19px 11px 18px, $width: 150px);
        @include textStyle($font-s: 18px, $font-w: 600, $line-h: normal, $color: #02897A, $text-a: center);
        margin-top: 38px;
        margin-bottom: 10px;
        background-color: #FFF;
    }

    .price__btn:hover{
        color: #FFF;
        background-color: #8fbab5;
    }
}

.price__about__title {
    @include textStyle($font-s: 24px, $font-w: 700, $line-h: 40px, $color: #22343D, $text-a: center);
    margin-bottom: 8px;
}

.price__about__text {
    @include textStyle($font-s: 16px, $font-w: 400, $line-h: 24px, $color: #22343D);

}

.price__money {
    display: flex;
    align-items: center;
}

.price__money__num {
    @include textStyle($font-s: 76px, $font-w: 700, $line-h: 100px, $color: #02897A);
    margin-bottom: 16px;
}

.price__money__text {
    @include textStyle($font-s: 24px, $font-w: 700, $line-h: 30px, $color: #02897A)
}

.price__list {
    text-align: center;
}

.price__item {
    margin-bottom: 16px;
}

.price__link {
    @include textStyle($font-s: 16px, $font-w: 500, $line-h: 22px, $color: #22343D)
}

.price__btn {
    @include btn($padding: 11px 19px 11px 18px, $width: 150px);
    @include textStyle($font-s: 18px, $font-w: 600, $line-h: normal, $color: #FFF, $text-a: center);
    margin-top: 38px;
    margin-bottom: 10px;
    cursor: pointer;

}

@media (max-width:1150px){
    .price__about {
        padding: 24px 62px 32px 62px;
        box-shadow: 0px 0px 4px 2px rgb(215, 215, 215);
        border-radius: 8px;
        display: inline-block;
        text-align: center;
    }
    
}

@media (max-width:980px){
    .price__about__wrapper {
        flex-direction: column;
    }
    .price__about{
        margin-bottom: 32px;
        padding: 24px 162px 32px 162px;
    }

}

@media (max-width:580px){
    .price__about{
        margin-bottom: 32px;
        padding: 24px 62px 32px 62px;
    }
}

@media (max-width:340px){
    
    .price__about__title {
        @include textStyle($font-s: 22px, $font-w: 700, $line-h: 40px, $color: #22343D, $text-a: center);
        margin-bottom: 8px;
    }

    .price__about__text {
        @include textStyle($font-s: 14px, $font-w: 400, $line-h: 24px, $color: #22343D);

    }

    
}